.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-y: auto;
  padding: 20px 0;
}

.modal-container {
  background: white;
  padding: 40px 50px;
  border-radius: 12px;
  width: 800px;
  max-width: 95%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #3b4256;
  font-size: 28px;
  font-weight: 700;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row-2-col {
  display: flex;
  gap: 30px;
}

.form-row-2-col .form-group {
  flex: 1;
}

.modal-form label {
  font-size: 16px;
  font-weight: 600;
  color: #4b5563;
}

.modal-form input,
.modal-form select,
.modal-form textarea {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  color: #374151;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
  text-align: left;
  background-color: #f3f4f6;
  color: #6b7280;
  cursor: not-allowed;
}

.modal-form textarea {
  height: 80px;
  resize: none;
  overflow-y: auto;
}

.textarea-small {
  height: 60px !important;
}

.textarea-small-leader {
  height: 45px !important;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}


.btn-cancelar {
  background-color: #0c9d72;
  color: white;
  border: 1px solid #0c9d72;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-cancelar:hover {
  background-color: #0a8661;
}