/* Contenedor principal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* La Card del Modal (Específico para Éxito) */
.modal-exito {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Icono de Checkmark en círculo */
.icon-container-exito {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-bg-exito {
  background-color: #6ee7b7;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-check {
  color: #166534;
  font-size: 32px;
  font-weight: bold;
}

.modal-titulo-exito {
  color: #0f172a;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.modal-mensaje-exito {
  color: #64748b;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 35px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Botón "Aceptar"  */
.acciones-exito {
  display: flex;
  width: 100%;
}

.btn-aceptar-exito {
  flex: 1;
  background: #166534;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(22, 101, 52, 0.3);
  transition: background 0.2s, transform 0.1s;
}

.btn-aceptar-exito:hover {
  background: #15803d;
}

.btn-aceptar-exito:active {
  transform: translateY(1px);
}

/* La Card del Modal (Específico para Error) */
.modal-error {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon-container-error {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-bg-error {
  background-color: #fca5a5;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-cross {
  color: #b91c1c;
  font-size: 32px;
  font-weight: bold;
}

.modal-titulo-error {
  color: #b91c1c;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.modal-mensaje-error {
  color: #64748b;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 35px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.acciones-error {
  display: flex;
  width: 100%;
}

.btn-aceptar-error {
  flex: 1;
  background: #b91c1c;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(185, 28, 28, 0.3);
  transition: background 0.2s, transform 0.1s;
}

.btn-aceptar-error:hover {
  background: #991b1b;
}

.btn-aceptar-error:active {
  transform: translateY(1px);
}

/* alertas */
.modal-advertencia {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon-container-advertencia {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-bg-advertencia {
  background-color: #fef3c7;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-warn {
  color: #d97706;
  font-size: 32px;
  font-weight: bold;
}

.modal-titulo-advertencia {
  color: #d97706;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.modal-mensaje-advertencia {
  color: #64748b;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 35px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.acciones-advertencia {
  display: flex;
  width: 100%;
}

.btn-aceptar-advertencia {
  flex: 1;
  background: #f59e0b;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(245, 158, 11, 0.3);
  transition: background 0.2s, transform 0.1s;
}

.btn-aceptar-advertencia:hover {
  background: #d97706;
}

.btn-aceptar-advertencia:active {
  transform: translateY(1px);
}